services:
  app:
    build:
      context: .
    ports:
      - "8000:8000"
    volumes:
      - ./src:/app/src
      - ./uploaded_images:/app/uploaded_images

    command: ["uvicorn", "src.main:app", "--host", "0.0.0.0", "--port", "8000", "--reload"]
    
    environment:
      - DB_HOST=db
      - DB_NAME=app
      - DB_USER=postgres
      - DB_PASSWORD=pass
      - DATABASE_URL=postgresql+asyncpg://postgres:pass@db:5432/app
      - SECRET_KEY=TWOJ_SUPER_TAJNY_KLUCZ_WYGENERUJ_NOWY
      - ALGORITHM=HS256
      - ACCESS_TOKEN_EXPIRE_MINUTES=30

    depends_on:
      - db
    networks:
      - backend
    container_name: app

  db:
    image: postgres:14
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: pass

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d app"]
      interval: 2s
      timeout: 3s
      retries: 15

    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./src/init_pgcrypto.sql:/docker-entrypoint-initdb.d/init_pgcrypto.sql
    networks:
      - backend
    container_name: db

networks:
  backend:

volumes:
  postgres_data:
